@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Stephanie Kasunick is a senior at Ohio University triple majoring in Management Information Systems, Business Analytics, and Marketing.
    With her expertise in data management, programming, and marketing, she hopes to become a User Experience Designer after graduation.
    She is currently a volunteer project lead for the redesign of The WonderSeed Foundation's website and will soon be designing the foundation's mobile application.
    In addition to leading The Wonderseed Foundation's design team, Stephanie is also a Teaching Assistant for Professor Matthews, helping 
    with his Systems Development class. She also works on the weekends at Red Brick Tavern as a bartender. A fun fact about Stephanie is that she
    has 2 bunnies named Molly and Orion, a dog named Toby, and a cat named Rascal.</p>
