@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8692 Billings Road<br />
    Kirtland, Ohio 44094<br />
    <abbr title="Phone">P:</abbr>
    440.339.4352
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:stephaniekasunick@gmail.com">stephaniekasunick@gmail.com</a><br />
</address>