@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <span class="glyphicon glyphicon-map-marker"></span>
    8692 Billings Road<br />
    Kirtland, Ohio 44094<br />
    <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr>
    440.339.4352
</address>

<address>
    <strong><span class="glyphicon glyphicon-send"></span> Email:</strong>   <a href="mailto:stephaniekasunick@gmail.com">stephaniekasunick@gmail.com</a><br />
</address>