@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stephanie Kasunick's Portfolio</h1>
    <p class="lead">Stephanie Kasunick is an aspiring User Experience Designer and a hard working student at Ohio University. To learn more about her professional, coding, and design experience, see below.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Design Portfolio</h2>
        <p>
            Stephanie hopes to be a UX designer after graduation from Ohio University in May 2020. She has worked with organizations such as The WonderSeed Foundation and the School of Leadership at Ohio University. 
        </p>
        <p><a class="btn btn-default" href="https://stephaniekasunick.myportfolio.com/">See Design Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information Systems Work</h2>
        <p>Stephanie enjoys coding webpages and applications. She has experience using Visual Studios with C#, SQL, JavaScript, and HTML.</p>
        <p><a class="btn btn-default" href="http://cob.ohio.edu/sk611715/past/">See Information Systems Work &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Interning with MSC Industrial Supply, working as a manager at Regal Cinemas, and being a project lead for The Wonderseed Foundation are just a few of Stephanie's top professional working experiences. To learn more, click the link below. </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/stephaniekasunick/">See LinkedIn &raquo;</a></p>
    </div>
</div>