@{
    ViewBag.Title = "Home Page";
}

    <div class="alert alert-info">

        <strong>Welcome!</strong> This site was created in MIS 4200 (Information Systems) and is my first MVC application.

    </div>

<div class="jumbotron" >
    <h2>Stephanie Kasunick's Portfolio</h2>
    <p class="lead">Stephanie Kasunick is an aspiring User Experience Designer and a hard working student at Ohio University. To learn more about her professional, coding, and design experience, see below.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Design Portfolio</h2>
        <p>
            Stephanie hopes to be a UX designer after graduation from Ohio University in May 2020. She has worked with organizations such as The WonderSeed Foundation and the School of Leadership at Ohio University. 
        </p>
        <p><a class="btn btn-info" href="https://stephaniekasunick.myportfolio.com/">See Design Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>
            In the capstone systems development course, MIS 4200, I explored MVC development and how it differs from web form development used in past classes.
            MVC is model-view-controller and it is a form of systems development supported by Microsoft Visual Studio.
        </p>
        <br />
        Example pages for<br />
        @Html.ActionLink("Artists", "Index", "Artists") <br />
        @Html.ActionLink("Albums", "Index", "Albums") <br />
        @Html.ActionLink("ArtistAlbums", "Index", "ArtistAlbums") 

    </div>
    <div class="col-md-4">
        <h2>Information Systems Work</h2>
        <p>Stephanie enjoys coding webpages and applications. She has experience using Visual Studios with C#, SQL, JavaScript, and HTML.</p>
        <p><a class="btn btn-info" href="http://cob.ohio.edu/sk611715/past/">See Information Systems Work &raquo;</a></p>
    </div>
</div>